.card-img {
  display: block;
  width: calc(100% + 2rem);
  // height: 12rem;
//   border-bottom: 3px solid #9191e9;
  margin: -1rem -1rem 0;
  // background: #9191e9;
}

.card-body {
  // margin: 0.5rem;
  // padding: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(63, 81, 181, 0.6);
  color: white;

  &__title {
    // height: 48px;
    width: 100%;
    margin-top: 12px;
    // display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__description {
    margin: 0 0 8px;
    font-size: small;
    font-weight: bold;
  }
}
