.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.App-header-title {
  display: inline-block;
  margin: 16px;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

.product-card-tile {
  height: 48px;
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(63, 81, 181, 0.6);
  color: white;
}
