.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  position: sticky;
  top: 0;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .product-list-container {
  margin: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-list-card {
  flex: 0 1 calc(25% - 1em);
  min-width: 380px;
  margin: 24px;
} */

.product-card-tile {
  height: 48px;
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(63, 81, 181, 0.6);
  color: white;
}
